body {
  background-color: #EEEEEE;
  font-family: "Roboto", sans-serif; }

table {
  display: table;
  border-collapse: collapse;
  border-color: #ccc;
  width: 100%;
  height: 100%; }

tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit; }

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit; }

tr {
  display: table-row;
  vertical-align: inherit; }

td, th {
  display: table-cell;
  vertical-align: inherit;
  text-align: center;
  font-size: 1.2em;
  padding: 8px; }

td {
  font-size: 3.1em;
  font-weight: 300; }

.win {
  color: #1565C0; }

.death {
  color: #B71C1C; }

.kill {
  color: #43A047; }

.assist {
  color: #9E9E9E; }

.kda {
  color: #FF9800; }

.turret {
  color: #795548; }

.navStyle {
  padding-bottom: 40px;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  -webkit-transition: padding 0.5s linear;
  transition: padding 0.5s linear; }
  .navStyle.minify {
    padding-bottom: 5px; }
    .navStyle.minify .navTitleWrap {
      display: inline-block;
      text-align: center;
      width: 30%;
      top: 5px;
      font-size: 0.7em; }
    .navStyle.minify .navSubTextWrap {
      display: none; }
    .navStyle.minify .navForms {
      width: 70%; }
    @media screen and (max-width: 768px) {
      .navStyle.minify .navForm {
        width: 100%; } }
  .navStyle .navTitleWrap {
    text-align: right;
    -webkit-transition: font-size 0.5s ease-in-out;
    transition: font-size 0.5s ease-in-out; }
    @media screen and (max-width: 768px) {
      .navStyle .navTitleWrap {
        text-align: center; } }
    .navStyle .navTitleWrap .navTitle {
      font-weight: 300;
      font-size: 3em; }
      .navStyle .navTitleWrap .navTitle a {
        text-decoration: none;
        letter-spacing: 4px;
        -webkit-transition: letter-spacing 0.5s ease;
        transition: letter-spacing 0.5s ease; }
        .navStyle .navTitleWrap .navTitle a:hover {
          letter-spacing: 0px;
          -webkit-transition: letter-spacing 0.5s ease;
          transition: letter-spacing 0.5s ease; }
  .navStyle .navSubTextWrap {
    text-align: left; }
    @media screen and (max-width: 768px) {
      .navStyle .navSubTextWrap {
        text-align: center; } }
    .navStyle .navSubTextWrap .navSubText {
      font-size: 1.7rem;
      line-height: 4;
      text-align: left; }
  .navStyle .navFormStyle {
    padding-top: 2px;
    width: 60%;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 1.6em; }

/*SUMMONER.HTML*/
.mainBoxStyle, .summaryStyleKDAColInner, .summaryStyleLifetimeCol, .topThreeKDACol {
  border: 1px solid lightgray;
  background-color: white; }
  .mainBoxStyle:hover, .summaryStyleKDAColInner:hover, .summaryStyleLifetimeCol:hover, .topThreeKDACol:hover {
    border: 1px solid #F57F17;
    background-color: aliceblue; }

.profileStyle {
  margin: 30px 0; }
  .profileStyle .profileIconStyle {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    display: inline-block; }
    .profileStyle .profileIconStyle:hover {
      -webkit-transform: scaleX(1.1) scaleY(0.9);
              transform: scaleX(1.1) scaleY(0.9); }
    .profileStyle .profileIconStyle::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: -webkit-radial-gradient(40px 40px, circle, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.3));
      background: radial-gradient(circle at 40px 40px, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.3));
      display: block;
      border-radius: 50%; }
    .profileStyle .profileIconStyle::after {
      content: "";
      position: absolute;
      display: block;
      background: -webkit-radial-gradient(50% 50%, circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, transparent 50%);
      background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, transparent 50%);
      border-radius: 50%;
      -webkit-transform: translateY(-60px) rotate3d(1, 0, 0, 75deg);
              transform: translateY(-60px) rotate3d(1, 0, 0, 75deg);
      width: 100%;
      height: 100%; }
    .profileStyle .profileIconStyle .profileImg {
      border-radius: 50%; }
  .profileStyle .profileText {
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 2.5em; }

.categoryTitleWrap {
  text-align: center; }
  .categoryTitleWrap .categoryTitleBorder {
    border-bottom: 1px solid gray;
    display: inline-block;
    padding: 0 50px; }
    .categoryTitleWrap .categoryTitleBorder .categoryTitle {
      font-size: 2.5em;
      font-weight: bold;
      letter-spacing: 4px; }
    .categoryTitleWrap .categoryTitleBorder .categoryTitleSubText {
      font-size: 1.5em; }

.boxPaddings {
  padding: 10px 5px; }

.summaryStyle {
  margin-top: 157px;
  text-align: center; }

.summaryStyleKDA {
  text-align: center; }

.summaryStyleKDACol {
  padding-top: 10px; }

.summaryStyleKDAColInner {
  padding: 20px;
  height: 150px; }

.summaryStyleLifetime {
  text-align: center;
  padding: 20px 0; }

.summaryStyleLifetimeCol {
  display: block;
  padding: 30px; }

.summaryStat {
  font-size: 2.5em;
  font-weight: 300; }

.topThreeChampionUl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row; }

.topThreeChampionLi {
  position: relative; }

.topThreeKDACol {
  min-height: 285px;
  text-align: center;
  padding-top: 15px; }

.highlightHeader {
  font-size: 1.5em; }

.largeNumber {
  font-size: 5.5em;
  font-weight: 300; }

.mediumNumber {
  font-size: 2.5em;
  font-weight: 300; }

.championIconStyle {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 2px 10px 0 gray;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
  .championIconStyle:hover {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px); }
  .championIconStyle:hover + .statLabelWrap {
    visibility: visible; }

.championName {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 0; }

.smallLabel {
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 2px; }

.statLabelWrap {
  position: absolute;
  visibility: hidden;
  -webkit-transition: visibility 0s linear;
  transition: visibility 0s linear;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  top: -20px;
  left: 50%;
  color: white; }
  .statLabelWrap .statLabel {
    background-color: orange;
    padding: 3px 7px;
    border-radius: 5px; }

.bottomArrow {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid orange;
  top: 26px;
  left: 15px; }

@media screen and (max-width: 768px) {
  .topThreeChampionUl {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column; } }
