<div class='row navbar navbar-default navStyle'>
    <div class='col-sm-5 navTitleWrap'>
        <span class='navTitle'><a ui-sref="aramStats.main">ARAM Stats</a></span>
    </div>
    <div class='col-sm-7 navSubTextWrap'>
        <span class='navSubText'> Analytics for the die-hard ARAMers</span>
    </div>
    <div class='col-sm-12 navForms'>
        <form ng-submit="navCtrl.getSummonerStats(navCtrl.summonerName)">
                <input type='text' class='input-lg navFormStyle' placeholder='Enter your summoner name' ng-model='navCtrl.summonerName'>
            <button class='btn btn-primary btn-lg'>Search</button>
        </form>
    </div>
</div>
